.slide {
   background: #FFF url(/image/mike/images/bg.png) bottom right;
}

h1, h2 {
   font-weight: bold;
   color: #DD0000;
   text-shadow: #CCC 3px 3px 2px;
}

.main header {
   font-size: 20px;
   color: #AAA;
   position: absolute;
   top: 0;
   line-height: 200px;
   width: 100%;
}
.main footer {
   font-size: 30px;
   display: block;
   position: absolute;
   line-height: 200px;
   bottom: 0;
   width: 100%;
}
.main footer small {
   font-size: 30px;
}
.main h1 small {
   font-weight: normal;
   color: #000;
   font-size: 48px;
   line-height: 180%;
}
.main h1 {
   font-size: 80px;
   color: #DD0000;
   font-weight: bold;
}

.bullets ul li {
   line-height: 120%;
   text-align: left;
   list-style: disc;
   padding-left: 0.3em;
}
.bullets ul {
   padding: 0 1em;
   margin-left: 1.2em;
}
.bullets ul li.blur {
   color: #AAA;
}

.with-title h1 {
   line-height: 140px;
   top: 0;
   position: absolute;
   width: 100%;
   text-align: center;
   font-size: 70px;
}
.bullets.with-title ul {
   margin-top: 140px;
}

.bullets.with-title h1 {
}

.resources {
   position: absolute;
   bottom: 60px;
   width: 100%;
   text-align: center;
}

pre {
   font-size: 28px;
   padding-left: 50px;
}
code {
   font-family: monospace;
}

.meme img {
   position: absolute;
   top: 0;
}

.meme.wee {
   background: #FFF url(/image/mike/images/wee.png) bottom right;
}
